<div class="form-container">
  <h1>Edit Comment</h1>
  <form action="/movies/${movieId}/comments/${comment.id}?_method=PUT" method="post">
    <input type="hidden" name="_csrf" value="${csrfToken}">
    <label for="body">Comment</label>
    <textarea name="body" type="text" required>${comment.body}</textarea>
    <label for="rating">Rating</label>
    <select name="rating" id="rating">
      ${[1,2,3,4,5].map((i) => `
        <option value="${i}" ${i == comment.rating ? "selected" : ""}>
          ${Array(i).fill("⭐").join("")}
        </option>
      `)}
    </select>
    <div class="error" style=${'display:' + (errors.body ? 'inline' : 'none')}>
      ${errors.body}
    </div>
    <button type="submit">Update</button>
  </form>
</div>
