<div class="form-container">
  <h1>New Comment</h1>
  <form action="/movies/${movieId}/comments" method="post">
    <input type="hidden" name="_csrf" value="${csrfToken}">
    <label for="body">Comment</label>
    <textarea name="body" type="text" required></textarea>
    <label for="rating">Rating</label>
    <select name="rating" id="rating">
      <option value="1" >⭐</option>
      <option value="2">⭐⭐</option>
      <option value="3">⭐⭐⭐</option>
      <option value="4">⭐⭐⭐⭐</option>
      <option value="5" selected>⭐⭐⭐⭐⭐</option>
    </select>
    <div class="error" style=${'display:' + (errors.body ? 'inline' : 'none')}>
      ${errors.body}
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
