<div class="form-container">
  <h1>Sign In</h1>
  <form action="/sign-in" method="post">
    <input type="hidden" name="_csrf" value="${csrfToken}">
    <label for="email">Email</label>
    <input name="email" type="text" required>
    <label for="password">Password</label>
    <input name="password" type="password" required>
    <span class="error" style=${'display:' + (errors ? 'inline' : 'none')}>
      ${errors}
    </span>
    <button type="submit">Sign In</button>
  </form>
</div>
